[submodule "control/keypad/despyner"]
	path = control/keypad/despyner
	url = git@github.com:gttrcr/despyner.git
[submodule "control/server/despyner"]
	path = control/server/despyner
	url = git@github.com:gttrcr/despyner.git
