[submodule "control/keypad/despyner"]
	path = control/keypad/despyner
	url = git@github.com:gttrcr/despyner.git
[submodule "viewer/despyner"]
	path = viewer/despyner
	url = git@github.com:gttrcr/despyner.git
[submodule "waterfall/despyner"]
	path = waterfall/despyner
	url = git@github.com:gttrcr/despyner.git
